# Virtual environment
venv*/

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE files
.vscode/
.idea/

# Logs
*.log

# Audio files
godot/midi/
godot/data/

# Godot 4+ specific ignores
.godot
android/
dropbox.attr
Thumbs.db
.import/*
.godot/*
dev/*
ui/*
*.import
